@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
body{
    font-family: open sans !important;
    background-color: #FAFAFA !important;
}
nav{
    background-color: white;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px 0;
}
nav li{
    list-style: none;
    float: left;
    margin-left: 32px;
}
nav a{
    text-decoration: none;
    color:#1034A6;
    font-family: open sans !important;
}
nav a:hover{
    text-decoration: none;
}
.hero-text h1{
    font-family: open sans;
    font-weight: bold;
    font-size: 3.3vw !important
}
p{
    font-family: open sans;
}
.hero-text p{
    font-family: open sans;
    font-weight: normal;
    font-size: 1.6vw !important
}
.gradient{
    height: 755px;
    width: 100%;
    background: url("./images/Rectangle\ 9.png")
}
.radio{
    height: 24px !important;
    width: 24px;
}
.mobile{
    display: none;
}
.side-nav{
    display: none
}
@media only screen and (max-width:576px) {
    .gradient-main{
        padding: 30px 30px 0 30px !important
    }
    .hero-text{
        margin: 0 !important;
        padding:0 !important
    }
    .hero-text h1{
        font-family: open sans;
        font-weight: bold;
        font-size: 7vw !important
    }
    p{
        font-family: open sans;
    }
    .hero-text p{
        font-family: open sans;
        font-weight: normal;
        font-size: 3vw !important
    }
    .side-nav{
        position: fixed;
        right:0;
        top:0;
        width: 0%;
        background-color: white;
        height: 100vh;
        display: block;
        text-align: left;
        overflow-x: hidden;
        transition: all 0.5s ease-out;
        z-index: 5;
    }
    .close{
        float: right;
        font-weight: bolder;
        color: #1034A6 !important;
        font-size: 50px !important;
        margin: 20px 20px 0 0;
        padding: 0;
        background-color: white;
        cursor: pointer;
        z-index: 100
    }
    .right-nav{
        display: none;
    }
    .mobile{
        position: relative;
        display: block;
        cursor: pointer;
        z-index: 1
    }
    .mobile div{
        width: 30px;
        margin-top:5px;
        height: 4px;
        background-color: #1034A6;
    }
    .side-nav-links{
        clear: right
    }
    .side-nav ul li{
        list-style: none;
        margin-bottom: 20px;
        font-size: 30px
    }
    .side-nav ul li a{
        color: #1034A6 !important;
        font-size: 20px
    }
}